:root{
    --yellow: #DDAB61;
    --white: #f7f7f7;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #352C3F;
    font-family: 'Roboto', sans-serif;
}
/* header================================ */
header{
    height: 100vh;
}
.logo img{
    width: 300px;
    margin: 15px;
    float: left;
    opacity: none;
    position: relative;
    z-index: 1;
}
.menu{
    margin: 25px;
    float: right;
    position: relative;
    z-index: 1;
}
.menu li{
    list-style: none;
    float: left;
    margin: 15px;
    
}
.menu li a{
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.menu li button{
    position: relative;
    bottom: 10px;
    padding: 10px;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.menu li a:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}
.menu li button:hover{
    color: var(--white);
    border: 2px solid var(--white);
}

.capa{
    background-image: url(../image/lady-justice-2388500_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 13%;
    width: 100%;
    height: 100%;
}
.perfil{
    text-align: center;
    position: relative;
    bottom: 500px;
}
.perfil img{
    border: 3px solid var(--yellow);
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.perfil h2{
    color: var(--yellow);
    font-size: 25px;
    font-weight: bold;
}
.perfil p{
    color: var(--white);
    font-size: 15px;
}
.mg-perfil{
    margin: 10px;
}
/* main============================ */
.conteiner{
    width: 75vw;  
    margin: auto;
    margin-top: 80px;
    position: relative;
}
.sobre-foto{
    width: 450px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}
.conteudo{
    position: absolute;
    top: 5%;
    left: 50%;
    box-sizing: content-box;
}
.conteudo h2{
    width: 117px;
    color: var(--yellow);
    border-bottom: 1.5px solid var(--yellow);
    padding-bottom: 5px;
}
.conteudo p{
    color: var(--white);
    font-size: 17px;
    font-weight: 100;
    text-align: justify;
}
.btn-conteudo{
    color: var(--yellow);
    background-color: var(--white);
    padding: 10px;
    border: 1px solid var(--yellow);
    border-radius: 5px;
    font-weight: bold;
}
.btn-conteudo:hover{
    background-color: var(--yellow);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
}
.mg-conteudo{
    margin: 7px;
}
.curriculo{
    width: 440px;
    height: 200px;
    border: 2px solid var(--yellow);
    font-weight: 100;

}
.curriculo ul{
    list-style: none;
}
.curriculo ul li{
    padding: 10px;
    color: var(--white);
    margin: 20px 0px 0px 0px;
}
.lista02-conteudo{
    position: relative;
    bottom: 88%;
    margin-left: 265px;
}
.servicos-conteiner{
    width: 1100px;
    height: 480px;   
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: content-box;
}
.text-servicos{
    width: 92px;
    color: var(--yellow);
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--yellow);
    position: relative;
    top: 30px;
    left: 15px;
}
.box-conteiner{
    display: flex;
    margin-top: 6%;
}
.tamanhobox{
    width: 400px;
    height: 300px;
    margin: 15px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
}
.servico-conteudo{
    box-sizing: con-box;
    margin: 30px;
}
.servico-conteudo img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.servico-conteudo h3{
    font-weight: normal;
    color: var(--white);
    margin-bottom: 15px;
}
.servico-conteudo p{
    color: var(--white);
    font-weight: 100;
    text-align: justify;
    line-height: 18px;
}
/* footer======================= */
hr{
    border-color: var(--yellow);
}
.rodape{
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
}
.radape-icon{
    box-sizing: border-box;
    text-align: center;
}
.radape-icon i{
    padding: 10px;
    font-size: 30px;
    color: var(--white);
}
.radape-icon i:hover{
    color: var(--yellow)
}
small{
    color: var(--white);
}
